@tailwind base;
@tailwind components;
@tailwind utilities;
  

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: #ffffffde;
    background-color: hwb(250 15% 83%);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    place-items: center;
    overflow: hidden;
  }
  
  
  
  /* src/components/Header.css */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(238, 231, 231);
  }
  
  .logo h1 {
    margin:10px;
    font-size: 70px;
  }
  
  
  /* src/components/Contact.css */
  .contact {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 20px;
    text-align: center;
    color: #ffffff; /* Darker color for contrast */
  }
  
  .contact h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #ffffff; /* Darker color to make it stand out */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); /* Light shadow for a subtle pop */
  }
  
  .contact ul {
    list-style: none;
    padding: 0;
  }
  
  .contact ul li {
    margin: 10px 0;
  }
  
  .contact ul li a {
    color: #6ba9e2; /* Keep the link color bright */
    text-decoration: none;
    font-weight: bold; /* Makes it stand out more */
  
    padding: 5px; /* Adds space around links */
  }
  
  .contact ul li a:hover {
    text-decoration: underline;
    color: #0056b3; /* Darken the hover color for emphasis */
  }
  
  
/* Meteors */

  .meteor-class {
    z-index: -1; /* So meteors don't cover the content */
  }